
/* Foundation overrides */
.body-color {
	background-color: #FFDDA5;
}

.row {
	max-width: 1080px;
}

input[type="text"] {
    height: 28px;
}

input[type="email"] {
    height: 32px;
}

input[type="password"] {
    height: 32px;
}

.header {
	height: 120px;
	position: relative;
	margin: 15px 0 0 0;
	background-image:url(../../assets/images/home/banner.png);
}

.logo{
	height: 100px;
	position: relative;
	margin: 10px 0 0 0;
}

/* farmily logo image */
.logo-cont {

	width:270px;
	position: relative;
	margin: 10px 0 0 0;

}

.logo-img{
	height:100px;
	width:300px;
	background:no-repeat;
	position: relative;
	background-image:url(../../assets/images/home/farmilyLogo.png);
}

.central{
	height: 100px;
	position: relative;
	margin: 10px 0 0 0;
}

.tools{
	height: 100px;
	position: relative;
	margin: 10px 0 0 0;
}

.nav {
	height: 40px;
	position: relative;
	margin: 10px 0 0 0;
	background-color: black;
	
}

.top-bar {
	margin-bottom: 10px;
}

/* image carousel */

.feature {
	position: relative;
	margin: 0px 0 0 0;
	overflow: scroll;
}

.left-block {
	height: 420px;
	position: relative;
	background-color: #FFC870;
	margin-bottom: 10px;
}

.basket {
	height: 100px;
	position: relative;
	margin: 10px 0 0 0;
	border:1px solid black;
	background-color: #FFB443;
	overflow: scroll;
}

.shop-nav {
	height: 270px;
	position: relative;
	margin: 10px 0 0 0;
	background-color: #FFDDA5;
}

.right-box {
	height: 420px;
	position: relative;
	background-image: url(../../assets/images/cow2.png);
	background-repeat:no-repeat;

}

.right-box-about {
	height: 420px;
	position: relative;
	background-color: #FFC870;
}
.skype {
	height: 210px;
	position: relative;
	background-color: #FFAF2E;
	opacity: 0.8;

}
.skype-info {
	height: 200px;
	position: relative;
	margin: 5px 0 5px 0;
	background-image: url(../../assets/images/callus.png);
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	opacity:0.8;


}

.skype-img {
	height: 200px;
	position: relative;
	margin: 5px 0 5px 0;
	background-image: url(../../assets/images/skypelogo2.png);
	background-repeat:no-repeat;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.social {
	height: 210px;
	position: relative;
	background-color: #FFAF2E;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	opacity: 0.8;
}

.social-buttons {
	height: 110px;
	position: relative;
	margin: 5px 0 5px 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.social-feed {
	height: 110px;
	position: relative;
	margin: 5px 0 5px 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.tandc {
	height: 210px;
	position: relative;
	background-color: #FFAF2E;
	background-image: url(../../assets/images/organicbadge.png);
	background-repeat:no-repeat;
	opacity: 0.8;
}

.tandc-menu {
	height: 200px;
	position: relative;
	margin: 5px 0 5px 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.partners {
	height: 200px;
	position: relative;
	margin: 5px 0 5px 0;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.middle-block {
	background-color: #FFC870;
	height: 420px;
	width: 520px;
	position: relative;
	margin: 0 0 10px 10px;
	/*border:2px solid black;*/
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.middle-block-scroll {
	background-color: #FFC870;
	height: 420px;
	width: 520px;
	overflow: scroll;
	position: relative;
	margin: 0px 0 0 10px;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.middle-block-about {
	background-image:url(../../assets/images/about/farmandtractor.png);	
	height: 420px;
	width: 520px;
	position: relative;
	margin: 0 0 10px 10px;
	/*border:2px solid black;*/
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.map {
	position:absolute;
}

.item-image {
	height: 419px;
	width: 255px;
	position: relative;
	margin: 0 0 0 0px;
	border:1px solid black;

}

.item-text {
	background-color: #FFDDA5;
	height: 419px;
	width: 255px;
	position: relative;
	margin: 0 0 0 0px;
	border:1px solid black;
	padding-top: 0px;
	overflow: scroll;
}

.twitter-timeline {
	height: 200px;
	width: 320px;
	position: relative;
	margin: 0px 0 0px 0;
	padding-right: 5px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left:auto;

}

.scroll-div{
    overflow-y:scroll;
    height: 360px;
}

.item-cat-img{
	height: 111px;
	position: relative;
	margin: 10px 10px 10px 10px;
	border:1px solid black;
	background-color: #FFB443;
}

.text-item-link{
	position: relative;
	background-color: #FFB443;
	width: 170px;
	height: 50px;
}

.text-item-link-oh{
	position: relative;
	background-color: #FFB443;
	width: 120px;
	height: 20px;
	font-size: 8pt;
}

.id-item-link{
	position: relative;
	background-color: red;
	font-size:0px;
	width: 30px;
	height: 30px;

}

.id-item-amend{
	position: relative;
	background-color: green;
	font-size:0px;
	width: 30px;
	height: 30px;

}

.modal-custom{
	background-color: #FFDDA5;
}

.modal-button1{
	background-color: #FFAF2E ;
	$bg: orange;
}

.modal-button2{
	background-color: #DEA13F;
}

.signup-buttons{
	background-color: #D18C1C;
	border: 2px solid #FFDDA5;
	margin: 10px 5px 0 0;
}

.popup{
	position:absolute;
	margin-left:30%;
	margin-right:30%;
	width:40%;
}
.recipe-bar{
	background-color:#FFAF2E;
	font-color:black;
	padding-left: 10%;

}

.recipe-block-scroll {
	background-color: #FFC870;";
	height: 340px;
	width: 520px;
	overflow: scroll;
	position: relative;
	margin: 10px 0 0px 10px;
	padding-right: 1px;
	padding-left: 90px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.contact-bar{
	background-color:#FFAF2E;
	font-color:black;
	padding-left: 10%;
}

.about-bar{
	background-color:#FFAF2E;
	font-color:black;
	padding-left: 10%;
	opacity:0.8;
}

.contact-us {
	overflow:scroll;
}

.feature-about {
	position: relative;
	height: 100px;
	margin: 2px 0px 0px 0px;
	border: 1px solid black;
	background-color:#FFDDA5;
	opacity:0.8;
	overflow: scroll;

}

.ing-font {
	font-size:smaller;
}

.recipe-image {
	height: 419px;
	width: 255px;
	position: relative;
	margin: 0 0 0 0px;
	border:1px solid black;
	overflow: scroll;
}

.recipe-text {
	background-color: #FFDDA5;
	height: 419px;
	width: 255px;
	position: relative;
	margin: 0 0 0 0px;
	border:1px solid black;
	padding-top: 0px;
	overflow: scroll;
}

.welcome {
	background-color: #FFC870;
	border: 0px 0px 0px 0px;
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 9px;
}

.translate {
	margin: 8px 0 0 0;

}

.back {
	height: 20px;
	width: 20px;

}

.p-code {
	font-size: 8px;
}

.p-qty {
	font-size: 10px;
}

.p-price {
	font-size: 10px;
}

.remove-itm {
	font-size: 14px;
}


h1 {

color:black;
font-size:12pt;
font-family: Tahoma;


}

h6 {

color:black;
font-size:14pt;
font-family: Tahoma;


}

table, th, td
{
border: 2px solid #D18C1C;
background-color: #FFDDA5;
color: yellow;
}

/*3 FFAF2E	2 DEA13F	1 D18C1C	4 FFC870	5 FFDDA5*/